{% extends "layout.html" %}
{% block content %}
  <div class="blabla">
    <h2>Bonjour !</h2>
    Bienvenue sur le site de cadeaux de la famille. Ce site a pour but de faciliter l'oganisation des cadeaux:
    <br/>
    <br/>
    <ul>
      <li>Il permet d'avoir un endroit centralisé où tout le monde entre ses souhaits</li>
      <li>Fini les cadeaux en double: une fois qu'un cadeau est offert, il disparaît de la liste des cadeaux disponibles</li>
      <li>Les cadeaux groupés sont facilités: on peut participer à tout ou partie d'un cadeau !</li>
      <li>Et tout cela dans la plus grande discrétion, le demandeur du cadeau ne peut pas voir lesquels de ses cadeaux sont déjà offerts !</li>
    </ul>
  </div>

  <div class="blabla">
    <h2>Fonctionnement</h2>
    <ul>
      <li>Vous pouvez commencer par ajouter des cadeaux en <a href="/addgift">cliquant ici</a> ou sur la barre de navigation à gauche</li>
      <li>Ensuite, vous pouvez consulter les cadeaux des autres personnes via les liens dans la barre de navigation</li>
      <li>La partie "raccourcis" offre plusieurs fonctionnalités intéressantes pour voir d'un coup d'oeil certaines catégories de cadeaux</li>
    </ul>

    En cas de problème, vous pouvez me contacter à l'adresse suivante : laura.calem@protonmail.com
  </div>

{% endblock %}