* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}


#login-body {
    background-color: #3498DB;
    padding: 50px;
}

.login {
    margin: 20px auto;
    width: 300px;
}

.login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
}

.app-title {
    text-align: center;
    color: #777;
}

.login-form {
    text-align: center;
}

.control-group {
    margin-bottom: 10px;
}

.login input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
}

.login input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
}

.login .btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
}

.login .btn:hover {
    background-color: #2980B9;
}

.login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
}

.header ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* background-color: #3498DB; */
}

.header li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: inline;
}

.header li h1 {
    width: 200px;
    font-size: 18px;
}

.header li a {
    width: 60px;
    color: #DDD;
}

.header li a:hover {
    /* background-color: #3498DB; */
    text-decoration: none;
}

.header li.connect-msg {
    width: 300px;
    float: right;
}

.leftpanel {
    display: inline-block;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    width: 300px;
    min-height: 400px;
    margin: 30px 30px 30px 30px;
    padding: 40px 10px 10px 10px;
}

.leftpanel a:hover {
    text-decoration: none;
}

.nav-header {
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
    padding-bottom: 5px;
    font-weight: bold;
}

.content {
    display: inline-block;
    margin: 30px;
    min-height: 400px;
    vertical-align: top;
    width: 1000px;
}

.addgift h1, .message h1 {
    font-size: 32px;
    margin: 10px 0px 20px 0px;
}

.addgift-btn {
    margin-top: 20px;
}

.surprise-btn {
    margin-top: -55px;
    color: #FAFCFF;
    background-color: #FCBA00;
    border-color: #FCBA00;
    position:relative;
    float: right;
}

.delete-cross {
    margin-top: -15px;
    margin-right: -12px;
    color: #dc3545;
    position:relative;
    float: right;
    cursor: pointer;
}

.btn-alert-msg {
    margin: 10px 10px 0px 0px;
}

.edit-gift {
    font-size: 0.8em;
    margin-top: -13px;
    margin-right: 6px;
    color: gray;
    position:relative;
    float: right;
    cursor: pointer;
}

.gift-box {
    width: 300px;
    height: 530px;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    padding: 20px;
    display: inline-block;
    margin: 0px 20px 20px 0px;
}

.gift-img {
    margin: auto;
    max-width: 260px;
    max-height: 250px;
    vertical-align: middle;
}

.img-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.gift-img-wrap {
    height: 250px;
    width: 260px;
    text-align: center;
}

.gift-box .gift-title {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 10px 10px 0px;
    height: 54px;
}

.gift-box dl {
    margin-bottom: 0px;
}

.btn-participate, .btn-gift {
    float: left;
}

.div-gift {
    display: none;
}

#message {
    position: fixed;
    z-index: 10;
    top: 30px;
    left: 500px;
    width: 600px;
    margin: auto;
    display: none;

}
#inner-message {
    margin: 0 auto;
}

.list-badge {
    margin: 0px 10px 0px -35px;
    width: 25px;
}

.gifted-badge {
    margin: -5px 0px 0px 20px;
    vertical-align: top;
}

.blabla {
    width: 800px;
    margin-bottom: 50px;
}

.blabla ul {
    list-style-type: disc;
}

/************** tooltips */
/* Tooltip container */
.tooltipi {
  position: relative;
  display: inline-block;
  color: #555;
}

.tooltipi .tooltiptexti {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #eee;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 130%;
}

.tooltipi .tooltiptexti::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}
.tooltipi:hover .tooltiptexti {
  visibility: visible;
}

.tooltipi dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
.tooltipi dt {
  float: left;
  text-align: left;
  width: 70%;
  padding: 0;
  margin: 0 0 0 10px;
}
.tooltipi dd {
  float: left;
  width: 25%;
  padding: 0;
  margin: 0
}